{% extends 'base.html' %}
{% block content %}
<div class="text-center">
  <h1>Fertilizer Details</h1>
  <div class="container">
    <h6 class="fw-semibold">{{ fertilizer.brand_name }}</h6>
    <p>Source Type: {{ fertilizer.source_type }}</p>
    <p>Nutrient Balance: {{ fertilizer.nutrient_balance }}</p>
    <p>Reccommended Frequency: {{ fertilizer.rec_freq }}</p>
    <div>
      <a href="{% url 'fertilizers_update' fertilizer.id %}">Edit</a>
      <a href="{% url 'fertilizers_delete' fertilizer.id %}">Delete</a>
    <div>
  </div>
</div>
{% endblock %}