{% extends 'base.html' %}
{% block content %}

<h1>Plant Details</h1>
<div>
  <div>
    <span>{{ plant.nickname }}</span>
    <p>Common Name: {{ plant.common_name }}</p>
    <p>Scientific Name: {{ plant.scientific_name }}</p>
    <p>Care Difficulty: {{ plant.care_difficulty }} </p>
    <p>Light Requirement: {{ plant.light_requirement }}</p>
    <p>Water Interval: {{ plant.water_interval }}</p>
  </div>
  <div>
    <a href="{% url 'plants_update' plant.id %}">Edit</a>
    <a href="{% url 'plants_delete' plant.id %}">Delete</a>
  </div>
</div>
<div>
  <form action="{% url 'add_watering' plant.id %}" method="POST">
    {% csrf_token %}
    {{watering_form.as_p}}
    <input type="submit" value="Add Watering">
  </form>
  <table>
    <thead>
      <tr><th>Date</th></tr>
    </thead>
    <tbody>
      {% for watering in plant.watering_set.all %}
      <tr><td>{{watering.date}}</td></tr>
      {% endfor %}
    </tbody>
      
  </table>
</div>


{% endblock %}