{% extends 'base.html' %}
{% block content %}

<h1>Plant Details</h1>
<div>
  <div>
    <h6 class="fw-semibold">{{ plant.nickname }}</h6>
    <p>Common Name: {{ plant.common_name }}</p>
    <p>Scientific Name: {{ plant.scientific_name }}</p>
    <p>Care Difficulty: {{ plant.get_care_difficulty_display }} </p>
    <p>Light Requirement: {{ plant.get_light_requirement_display }} </p>
    <p>Water Interval: Every {{ plant.water_interval }} days</p>
  </div>
  <div>
    <a href="{% url 'plants_update' plant.id %}">Edit</a>
    <a href="{% url 'plants_delete' plant.id %}">Delete</a>
  </div>
  {% for photo in plant.photo_set.all %}
  <img src="{{photo.url}}">
  {% empty %}
    <div >No Photos Uploaded</div>
  {% endfor %}
  <form action="{% url 'add_photo' plant.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" value="Upload Photo">
  </form>
</div>


<div>
  <form action="{% url 'add_watering' plant.id %}" method="POST">
    {% csrf_token %}
    {{watering_form.as_p}}
    <input type="submit" value="Add Watering">
  </form>
  <table>
    <thead>
      <tr><th>Date</th></tr>
    </thead>
    <tbody>
      {% for watering in plant.watering_set.all %}
      <tr><td>{{watering.date}}</td></tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<div>
  <h3>{{ plant.nickname }}'s Fertilizer</h3>
  {% if plant.fertilizers.count %}
    {% for fertilizer in plant.fertilizers.all %}
    <div>
      <span>{{ fertilizer.brand_name }}</span></a>
      <p>Source Type: {{ fertilizer.source_type }}</p>
      <p>Nutrient Balance: {{ fertilizer.nutrient_balance }}</p>
      <p>Recommended Frequency: {{ fertilizer.rec_freq }}</p>
    </div>
    <div>
      <form action="{% url 'remove_fertilizer' plant.id fertilizer.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove Fertilizer</button>
      </form>
    </div>
    {% endfor %}
  {% else %}
    <h5>No fertilizers</h5>
  {% endif %}
</div>

<div>
  <h3>Available Fertilizers</h3>
  {% if fertilizers.count %}
    {% for fertilizer in fertilizers.all %}
    <div>
      <span>{{ fertilizer.brand_name }}</span></a>
      <p>Source Type: {{ fertilizer.source_type }}</p>
      <p>Nutrient Balance: {{ fertilizer.nutrient_balance }}</p>
      <p>Recommended Frequency: {{ fertilizer.rec_freq }}</p>
    </div>
    <div>
      <form action="{% url 'assoc_fertilizer' plant.id fertilizer.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Add</button>
      </form>
    </div>
    {% endfor %}
  {% else %}
    <h5>No More Fertilizers To Add</h5>
  {% endif %}
</div>

{% endblock %}