{% extends 'base.html' %}

{% block content %}

<h1>My Plants</h1>


{% if plants.count %}
{% for plant in plants %}
<div>
  <a href="{% url 'detail' plant.id %}">
  <div>
    <span>{{ plant.nickname }}</span></a>
    <p>Common Name: {{ plant.common_name }}</p>
    <p>Scientific Name: {{ plant.scientific_name }}</p>
    <p>Care Difficulty: {{ plant.get_care_difficulty_display }} </p>
    <p>Light Requirement: {{ plant.get_light_requirement_display }}</p>
    <p>Water Interval: Every {{ plant.water_interval }} days</p>
  </div>
</div>
{% endfor %}
{% else %}
    <p>No plants yet. :(</p>
{% endif %}
    

    
{% endblock %}