{% extends 'base.html' %}

{% block content %}
  <div class="about-container text-center">
    <h2>About Us</h2>
    <div class="row">
      <div class="col-5">
        <h4>What We Do</h4>
        <p>
          It's hard to keep plants alive when life gets in the way. Plant parents everywhere can now look to Plant Parenthood to help them keep track of essential care such as waterings and feedings.<br /><br />
          Plant Parenthood allows users to add plants to their list, keep track of when they last watered, and what fertilizers were used.
        </p>
      </div>
      <div class="col-7">
        <img src="https://images.squarespace-cdn.com/content/v1/550b57f0e4b03338e0474a39/1639165327624-UH68EOTUC39Y7RAF6J52/STUMP+PLANTS+SITE+MAIN_006.jpg" class="img-fluid" alt="Plant Care" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-5">
        <h4>Our Team</h4>
        <p></p>
      </div>
      <div class="col-7">
        <img src="https://i.imgur.com/NDfzdPW.png" class="img-fluid" alt="Team Photo" />
      </div>
    </div>
    <hr />
  </div>
  <hr />
{% endblock %}
