{% extends 'base.html' %}

{% block content %}

<h3>About Us</h3>
<img src="https://www.reviewgeek.com/p/uploads/2020/11/b7f72457.png?width=400" alt="Plant Care">
<p>It's hard to keep plants alive sometimes. Life can just get in the way at the least opportune time, and that's when plant parents everywhere can look to Plant Parenthood to help them keep track of essential care such as waterings and feedings.
Plant Parenthood will allow users to add plants to their lists, keep track of when they last watered their precious plant children, and what fertilizers were used and when.</p>

{% endblock %}