{% extends 'base.html' %}

{% block content %}
  <div class="about-container text-center">
    <h2>About Us</h2>
    <div class="row">
      <div class="col-5">
        <h4>What We Do</h4>
        <p>
          It's hard to keep plants alive sometimes. Life can just get in the way at the least opportune time, and that's when plant parents everywhere can look to Plant Parenthood to help them keep track of essential care such as waterings and feedings.<br /><br />
          Plant Parenthood will allow users to add plants to their lists, keep track of when they last watered their precious plant children, and what fertilizers were used and when.
        </p>
      </div>
      <div class="col-7">
        <img src="https://images.squarespace-cdn.com/content/v1/550b57f0e4b03338e0474a39/1639165327624-UH68EOTUC39Y7RAF6J52/STUMP+PLANTS+SITE+MAIN_006.jpg" class="img-fluid" alt="Plant Care" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-5">
        <h4>Our Team</h4>
        <p></p>
      </div>
      <div class="col-7">
        <img src="https://i.imgur.com/NDfzdPW.png" class="img-fluid" alt="Team Photo" />
      </div>
    </div>
    <hr />
  </div>
  <hr />
{% endblock %}
