{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Plant Parenthood</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <li><a href="{% url 'index' %}">View My Plants</a></li>
            {% comment %} <li><a href="{% url 'logout' %}">Log Out</li> {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
            {% comment %} <li><a href="{% url 'login' %}">Log In</a></li> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        </ul>
    </nav>
    <main>
        {% block content %}


        {% endblock %}
    </main>
</body>
</html>