{% extends 'home-base.html' %}

{% block content %}
<style>
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        position: absolute;
        bottom: 100px;
        left: 300px;
    }
    .wrapper{
        display: flex;
    }
    .wrapper .static-txt{
        font-size: 60px;
        font-weight: 400;
    }
    .wrapper .dynamic-txts{
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
    }
    .dynamic-txts li{
        list-style: none;
        color: green;
        font-size: 60px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
    }
    @keyframes slide {
        100%{
        top: -360px;
        }
    }
    .dynamic-txts li span{
        position: relative;
        margin: 0 0 0 -30px;
        line-height: 90px;
    }
    .dynamic-txts li span::after{
        content: "";
        position: absolute;
        left: 0;
        height: 110%;
        width: 100%;
        background: white;
        border-left: 2px solid green;
        animation: typing 3s steps(10) infinite;
    }
    @keyframes typing {
        40%, 60%{
        left: 100%;
        }
    }

</style>
<h1 class="base-header-plant">Plant</h1>
<h1 class="base-header-parenthood">Parenthood</h1>
<div class="about">
<div class="wrapper">
    <div class="static-txt">Plant care, made</div>
    <ul class ="dynamic-txts">
        <li><span>easy.</span></li>
        <li><span>simple.</span></li>
        <li><span>accessible.</span></li>
        <li><span>fun.</span></li>
    </ul>
</div>
</div>
{% endblock %}