* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    background-color: #EFEDE0;
}
.title {
    position: absolute;
    bottom: -30px;
    left: 0px;
    z-index: 10;
}
.base-header-plant {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    margin-bottom: -75px;
    font-size: 150px;
}
.base-header-parenthood {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    font-size: 150px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 10px;
    resize: none;
    z-index: 10;
}
.wrapper{
    display: flex;
}
.wrapper .static-txt{
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    color: green;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
    top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
    margin: 0 0 0 -30px;
    line-height: 90px;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 110%;
    width: 100%;
    background: #EFEDE0;
    border-left: 2px solid green;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%, 60%{
    left: 100%;
    }
}
/* Button CSS
*/ 
.button-50 {
    display: block;
    width: 100%;
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
    padding: 12px 50px;
    }
}
.directory { 
    position: absolute;
    top: 135px;
    right: 80px;
    z-index: 10;
}
.login {
    margin-bottom: 30px;
}
.monstera-one {
    transform: rotate(-0.65turn);
    position: fixed;
    top: -70px;
    left: -130px;
    z-index: 1;
}
.monstera-two {
    transform: rotate(0.85turn);
    position: fixed;
    bottom: -100px;
    right: -130px;
    z-index: 1;
}